<div class=" bg-light " height="720px">
  <table class="container table mt-5">
    <tbody>


      <div *ngIf="commandes.length == 0">


        <h3 class="text-danger container">Votre panier est vide</h3>
      </div>


      <tr *ngFor="let item of commandes; let i = index ;">

        <td>{{item.Oeuvre[0].nameOeuvre}}</td>
        <td>{{item.dateCommande | date}}</td>
        <td>{{item.Oeuvre[0].price}}</td>
        <td>{{item.done}}</td>

        <td><img height="60px" width="60px" src="{{item.Oeuvre[0].photo}}" alt=""></td>
        <td><input  (click)="Delete(item.id)" type="text" type="image" src="https://img.icons8.com/cotton/2x/delete-sign--v2.png" width="20px"
            height="20px" alt="img"></td>

      </tr>



    </tbody>
    <tfoot>
      <tr> <span class="mt-5 container badge badge-pill badge-success bg-success">le totale est de total {{ total }} D.T</span></tr>
    </tfoot>
  </table>


  <div class=" mt-5 mb-5 d-flex justify-content-center">
    <button class="  btn btn-outline-success" (click)="passerCommande()"> Confirmer la commande</button>
  </div>
</div>
