<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

  <title>artisticShowroom</title>

</head>
<body class="bcody" >
<header>
  <!--logo + search-->
  <div class="d-flex justify-content-between align-items-center black pt-3 pb-3">
  <img src="https://i.pinimg.com/originals/d2/da/64/d2da648eb53c1d9d6a82874a1649551a.png" alt="logo" height="100px">
  <h1 class="permanent">Artistic Showroom</h1>
  <img src="https://i.pinimg.com/originals/d2/da/64/d2da648eb53c1d9d6a82874a1649551a.png" alt="logo" height="100px">


  </div>
  <!-- Navigation -->
  <nav class="navbar d-flex justify-content-around">
    <div><a class="text-decoration-none" style="cursor: pointer;" (click)="showOeuvres()"><b>liste des oeuvres</b></a></div>
    <div><a class="text-decoration-none" style="cursor: pointer;" (click)="showPanier()"><b>Panier</b></a></div>



  </nav>


</header>
 <main class="body">
  <router-outlet></router-outlet>

 </main>
<footer></footer>
</body>
</html>

